.buttonSalva{
    
    -fx-background-image: url("../../../../../imagens/diskette.png");
    -fx-background-color: transparent;
    
}

.buttonSalva:hover {
    -fx-background-color: #3a3a3a;
}

.buttonSalva:pressed, .button:default:hover:pressed {

    -fx-background-color: red;
    -fx-text-fill: #00afef;
}

.buttonSalva:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.buttonSalva:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.buttonSalva:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}


.buttonFecha{

    -fx-background-image: url("../../../../../imagens/close.png");
    -fx-background-color: transparent;

}

.buttonFecha:hover {
    -fx-background-color: #3a3a3a;
}

.buttonFecha:pressed, .button:default:hover:pressed {

    -fx-background-color: red;
    -fx-text-fill: #00afef;
}

.buttonFecha:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.buttonFecha:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.buttonFecha:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}