.roote{

    -fx-background-color: transparent;
}

.imagem{

    -fx-background-image: url("../../../../../imagens/logoFinal.png");

}


.imagem2{

    -fx-background-image: url("../../../../../imagens/4946069.gif");

}